@import url(http://fonts.googleapis.com/css?family=Molle:400italic);

.navbar .brand {
  font-family: 'Molle', cursive;
  font-size: 38px;

}
.navbar .brand:hover {
  text-decoration: none;
  color: #0064cd;
}

/* Background */
body
{
background: #fefbea; /* Old browsers */
background: -moz-linear-gradient(left, #fefbea 0%, #f5d131 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fefbea), color-stop(100%,#f5d131)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #fefbea 0%,#f5d131 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #fefbea 0%,#f5d131 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #fefbea 0%,#f5d131 100%); /* IE10+ */
background: linear-gradient(to right, #fefbea 0%,#f5d131 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefbea', endColorstr='#f5d131',GradientType=1 ); /* IE6-9 */
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #0064cd;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

