<footer>
  <small>
    <a data-toggle="modal" href="#modal_alex">Alexandria Links</a>
    &copy; 2012
  </small>
  <nav>
    <ul>
      <small> <li>
        <a data-toggle="modal" href="#modal_acknowledgments">Acknowledgments</a>
      </li> </small>
    </ul>
  </nav>
</footer>


