<footer>
  <small>
    <a href="http://railstutorial.org/">Alexandria Links</a>
    &copy; Company 2012
  </small>
  <nav>
    <ul>
      <li><%= link_to "Aknowdlege",   '#' %></li>
    </ul>
  </nav>
</footer>


