<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Alexandria Links</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav pull-right">

              <%#= Link para Login %>
              <% if !session[:user_id] %>
                <li>
                  <%= link_to "Sign In", admin_path %>
                </li>

                <li>
                  <%= link_to "Sign Up", new_user_path %>
                </li>
              <% else %>
                <li>
                  <%= link_to User.find(session[:user_id]).name , user_path(session[:user_id])%>
                </li>
              <% end %>

              <%#= Selector de Background %>
              <li>

                  <%= select_tag 'change_background', 
                     options_for_select([ 

                      ['Default','default'],
                      ['Pink','pink'],
                      ['Red','red'],
                      ['Green','green']
                                          
                                        ]) ,
                    :onchange => 'cambio(this.value)',
                    class: "span2 " %>

              </li>
 
              
              

            </ul>
          </div>
        </div>
      </div>
</div>
