<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Alexandria Links</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav pull-right">
              <li>
            <select>
              <option value="english">English</option>
              <option value="espanol">Español</option>
              <option value="francais">Francais</option>
              <option value="nederlands">Nederlands</option>
            </select> 
          </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>
