<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Alexandria Links</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav pull-right">

              <li>
                <%= form_tag store_path, :class => 'locale' do %>
                <%= select_tag 'set_locale', 
                   options_for_select(LANGUAGES, I18n.locale.to_s),
                  :onchange => 'this.form.submit()',class: "span2 btn" %>

                    <%= javascript_tag "$$('.locale input').each(Element.hide)" %>
                <% end %>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>
