<div id="modal_alex" class="modal hide fade in" style="display: none; ">  
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <h3>Alexandria Links</h3>  
  </div>
  
  <div class="modal-body">  
    <h4>Quienes somos ...</h4>  
    <p>Alexandria Links es un proyecto totalmente academico que por lo tanto no persigue ningún fin de lucro</p>                
  </div>
  
  <div class="modal-footer">  
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
</div>  
