<div id="modal_acknowledgments" class="modal hide fade in" style="display: none; ">  
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <h3>Acknowledgments</h3>  
  </div>
  
  <div class="modal-body">  
    <p>En este proyecto muchos fueron los autores y sitios que han colaborado para que el mismo se haya podido concretar en termino.</p>           
    <p>Ellos son:</p>
    <ul>
      <li>Agile Web Development with Rails (4th edition)</li>
      <li> Ruby on Rails 3 Tutorial: Learn Rails by Example (2nd edition) </li>
      <li> Beginning Ruby on Rails E-Commerce: From Novice to Professional</li>
      <li>Rails Casts</li>
      <li>Google Fonts</li>
      <li>Fuente Molle-Regular</li>
      <li>Fuente Alex-Brush</li>
      <li>@face-font-generator</li>
      <li>Twitter Bootstrap</li>
      <li>Boottheme</li>
      <li>Color Scheme Design</li>
      <li>Ultimate CSS gradiente generator</li>
      <li>Sven Fuchs - Rails i18n</li>
      <li>Amazon.com</li>
      <li>PatternCooler.com</li>
    </ul>
  <p>Desde ya nuestro más sentido agradecimiento.</p>     
  </div>
  
<% if false %>
  <div class="modal-footer">  
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
<% end %>

</div>  
