<div id="modal_versions" class="modal hide fade in" style="display: none; ">  
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <h3>Versions</h3>  
  </div>
  
  <div class="modal-body">  
    <p>En este proyecto se utilizaron las siguientes versiones de software:</p>
    <ul>
      <li>Ubuntu 12.04 LTS</li>
      <li>ruby 1.9.3p194</li>
      <li>rails 3.2.8</li>
      <li>git version 1.7.9.5</li>
 <li>annotate (2.5.0)</li>
 <li>aws-s3 (0.6.3)</li>
 <li>aws-sdk (1.6.9)</li>
 <li>bcrypt-ruby (3.0.1)</li>
 <li>bundler (1.2.1)</li>
 <li>cocaine (0.3.2)</li>
 <li>coffee-rails (3.2.2)</li>
 <li>coffee-script (2.2.0)</li>
 <li>coffee-script-source (1.3.3)</li>
 <li>jquery-rails (2.1.3)</li>
 <li>json (1.7.5)</li>
 <li>less (2.2.2)</li>
 <li>less-rails (2.2.3)</li>
 <li>libv8 (3.3.10.4)</li>
 <li>mail (2.4.4)</li>
 <li>paperclip (3.2.0)</li>
 <li>rake (0.9.2.2)</li>
 <li>rdoc (3.12)</li>
 <li>sass (3.2.1)</li>
 <li>sass-rails (3.2.5)</li>
 <li>sqlite3 (1.3.6)</li>
 <li>therubyracer (0.10.2)</li>
 <li>thor (0.16.0)</li>
 <li>twitter-bootstrap-rails (2.1.3)</li>
 <li>will_paginate (3.0.3)</li>
      
    </ul>
 
  </div>
  


</div>  
