<div id="modal_acknowledgments" class="modal hide fade in" style="display: none; ">  
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <h3>Acknowledgments</h3>  
  </div>
  
  <div class="modal-body">  
    <p>En este proyecto muchos fueron los autores y sitios que han colaborado para que el mismo se haya podido llevar a termino.</p>           
  <p>Desde ya nuestro más sentido agradecimiento.</p>     
  </div>
  
  <div class="modal-footer">  
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
</div>  
