<div id="modal_alex" class="modal hide fade in" style="display: none; ">  
  <div class="modal-header">  
    <a class="close" data-dismiss="modal">×</a>  
    <h3>Alexandria Links</h3>  
  </div>
  
  <div class="modal-body">  
    <h4>Quienes somos ...</h4>  
    <p>Alexandria Links es un proyecto totalmente academico que por lo tanto no persigue ningún fin de lucro.</p>  
    <p>Hemos participado de este interesante proyecto:</p>   

    <div class="row-fluid">
      <div class="span3">
        <img src="/assets/team_juan.jpg" class="team">
      </div>
      <div class="span7 texto">
        <strong>Juan Francisco Pose</strong>
        <small>Actualmente está trabajando en una empresa multinacional dedicada al desarrollo de software de alta calidad mientras cursa materias de cuarto y quinto año de la carrera Ingeniería en Informática en la Universidad de Palermo.</small>
      </div>
    </div>
    <br />
    <div class="row-fluid">
      <div class="span3">
        <img src="/assets/team_fer.jpg" class="team">
      </div>
      <div class="span7 texto">
        <strong>Fernando Javier Muñoz</strong>
        <small>En la actualidad está cursando su última materia en la Universidad de Palermo de la carrera Ingeniería en Informática.  Para fines de 2012 está planeando su mundanza a los Paises Bajos donde pasará un año.</small>
      </div>
    </div> 
      
  </div>
  
<% if false%>
  <div class="modal-footer">  
    <a href="#" class="btn" data-dismiss="modal">Close</a>  
  </div>  
<% end %>
</div>  
